/*********************************************************************/
/* Global styles */

h1 {
  margin-top: 2%;
  margin-right: 15%;
  position: absolute;
  top: 5%;
  right: 10%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}

/*********************************************************************/
/*Top navigation bar*/

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a6a6a6;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: #bfbfbf;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

/*********************************************************************/
/* Black spacer bar */

/*.content {
  width: 100%;
  height: 10px;
  background: #000000;
}*/

/*********************************************************************/
/* Carousel styles */

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  top: 0;
  left: 0;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
}

#myCarousel {
  width: 75%;
  margin: 0 auto;
}
.carousel img{
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  #myCarousel {
     width: 100%;
  }
}

.carousel-caption h1 {
  color:#7D7D7D;
  text-shadow: 2px 2px 8px #000000;
}

/*********************************************************************/
/* Style for contact page */

.parent {
  width:65%;
  font-size:0;
  margin: 0 auto;
}


.child {
  font-size:16px;
  display:inline-block;
  width:33%;
  /*border:1px solid black;*/
  vertical-align: top;
}

@media screen and (max-width: 800px) {
.child {
    width:100%;
  }
}

.contacttitle {
  font-weight: bold;
}

.contacttext {
  /*text-indent: 10%;*/
}

/*********************************************************************/
/* Footer */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  background-color: #4d4d4d;
  text-align: center;
  color: #ffffff;
  font-family: "Verdana";
}

/*********************************************************************/
/* About page style */

.about {
  text-align: left;
  max-width: 1000px;
  margin:0 auto;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Verdana";
  height: 100%;
}

.about h3 {
    overflow: hidden;
}

.about h3:after {
    content:"";
    display: inline-block;
    /*height: 0.2em;*/
    /*vertical-align: bottom;*/
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 5px solid #ff3333;
    color: #ff3333;
}

.about p {
  text-align: left;
}

.about h6 {
  color: #ff3333;
}

.verticalLine {
  border-left: thick solid #ff3333;
  padding-left: 20px;
}

.map {
  margin:0 auto;
  max-width: 400px;
}

.map img {
  width: 100%;
}

/* Support Request Form Page styles */

#support-form {
  display: inline-block;
  padding-left: 10%;
  
  padding-right: 10%;
  max-width: 1000px;
  margin:0 auto;
}
